[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"

[dev-packages]
pre-commit = "*"
setuptools-scm = "*"
twine = "*"
pytest = "*"
coverage = "*"
mypy = "*"
types-requests = "*"
Sphinx = "*"
sphinx-autobuild = "*"
myst-parser = "*"
sphinx-palewire-theme = "*"
sphinxcontrib-napoleon = "*"

[requires]
python_version = "3.13"
